.dots_border {
    --border-radius: 9999px;
    --size: calc(100% + 2px);
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--size);
    height: var(--size);
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius);
    overflow: hidden;
    z-index: -1;
  }
  
  .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 2rem;
    background-color: white;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: left;
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
    transform-origin: center;
    color: white;
  }
  
  .group .sparkle .path {
    animation: sparkleAnim 1.5s linear infinite;
  }
  
  @keyframes sparkleAnim {
    0%, 34%, 71%, 100% {
      transform: scale(1);
    }
    17% {
      transform: scale(1.2);
    }
    49% {
      transform: scale(1.2);
    }
    83% {
      transform: scale(1.2);
    }
  }